body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

p {
    text-align: left;
}

h1 {
    font-size: 40px;
    letter-spacing: normal;
    font-weight: 100;
}


/* Start https://www.cursors-4u.com */

* {
    cursor: url(https://cur.cursors-4u.net/anime/ani-9/ani849.cur), auto !important;
}


/* End https://www.cursors-4u.com */