.box-img {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    width: 450px;
    background: rgba(87, 89, 88, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}